services:
  app:
    build: blogpost/
    container_name: blogpost
    ports:
      - 3000:3000
    restart: always
  database:
      image: postgres:12-alpine
      container_name: "database"
      restart: always
      env_file:
      - .env
      ports:
        - 5432:5432